---
const delayedPromise = new Promise((resolve) => setTimeout(resolve, 2000))
const factData = fetch('https://catfact.ninja/fact')
  .then((response) => response.json())
  .then((factData) => factData.fact)
---

<p>{factData}</p>
{delayedPromise}
